<section class="mt-10 mb-5 sm:mt-20 sm:mb-10 mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 grid grid-cols-1 gap-6 lg:grid-cols-12">
  <h1
    class="col-span-full font-heading text-5xl lg:text-4xl-custom font-black text-black dark:text-white lg:col-span-3 lg:text-[clamp(2.25rem,5vw,3.5rem)] lg:self-end"
  >
    Case <br class="hidden lg:block" />Studies
  </h1>
  <p
    class="mt-0 leading-tight text-black dark:text-white sm:text-base sm:leading-tight col-span-full lg:col-start-4 lg:col-span-6 lg:mb-3 lg:mt-auto"
  >
    These case studies demonstrate how I bring clarity to complexity—leading design efforts
    that align user needs with business strategy, drive innovation, and deliver lasting
    impact.
  </p>
</section>
