---
// const skillGroups = [
//   {
//     title: 'Leadership & Strategy:',
//     description:
//       'Design Leadership, UX Strategy, Executive Alignment, Cross-functional Alignment, Talent Development, DesignOps, AI-Enhanced Workflows, Growth Enablement, Systems Thinking, B2B/B2C SaaS.',
//     highlights: [
//       'Discovery facilitation',
//       'Executive storytelling',
//       'UX vision & roadmap planning',
//       'Talent development',
//       'Cross-functional alignment',
//       'Team Building & Mentorship',
//       'Growth enablement',
//     ],
//   },
// ];

const capabilities = [
  'Design Leadership',
  'UX Strategy',
  'Executive Alignment',
  'Cross-functional Collaboration',
  'Talent Development',
  'DesignOps Implementation',
  'AI-Enhanced Workflows',
  'Systems Thinking',
  'B2B/B2C SaaS Expertise',
];

const tools = [
  'Figma',
  'Miro/FigJam',
  'Notion',
  'UX Research Tools',
  'Quantitative Analytics',
  'Adobe Creative Suite',
  'VSCode/GPT-Codex',
  'HTML/CSS/JS',
  'Tailwind',
  'Git',
  'DaVinci Resolve',
];

const skills = [
  'UX Strategy',
  'Design Leadership',
  'DesignOps',
  'Systems Thinking',
  'Executive Alignment',
  'Human-Centered Design',
  'Information Architecture',
  'Design Systems (Creation & Governance)',
  'Accessibility (WCAG)',
  'Hypothesis-Driven Design',
  'UX Research (Qual/Quant)',
  'Prototyping',
  'Agile Delivery',
];
---

<section class="my-4 lg:my-12 prose prose-resume">
  <div
    class="mx-auto grid max-w-2xl grid-cols-4 gap-x-6 gap-y-6 px-4 sm:px-6 lg:max-w-7xl lg:grid-cols-12 lg:gap-x-6 lg:px-8"
  >
    <h2
      class="col-span-full self-start font-heading text-3xl font-bold text-black dark:text-white lg:sticky lg:top-12 lg:col-span-3 lg:col-start-2"
    >
      Skills & Expertise
    </h2>
    <div class="col-span-full mt-1.5 space-y-10 lg:col-span-8 lg:col-start-5">
      <!-- <div class="max-w-[65ch] space-y-8">
        {
          skillGroups.map((group, index) => (
            <article class="font-base text-lg text-black dark:text-white">
              <h3 class={`text-2xl font-bold mb-4 ${index === 0 ? 'mt-0' : ''}`}>{group.title}</h3>
              <p class="mt-0 mb-2">{group.description}
              </p>
              {/* <p class="my-1">
                <span class="ml-1 italic text-sm">{group.highlights.join(' · ')}</span>
              </p> */}

            </article>
          ))
        }
      </div> -->
    <div>
        <h4 class="text-2xl font-bold mt-0">Leadership & Strategy</h4>
        <p class="mt-2 max-w-[65ch] text-lg">{capabilities.join(' · ')}</p>
    </div>
      <div class="border-t border-black/50 dark:border-white/30">
        <h4 class="text-2xl font-bold">UX & Technical</h4>
        <p class="mt-2 max-w-[65ch] text-lg">{skills.join(' · ')}</p>
    </div>
      <div class="border-t border-black/50 dark:border-white/30">
        <h4 class="text-2xl font-bold">Software & Tools</h4>
        <p class="mt-2 max-w-[65ch] text-lg">{tools.join(', ')}</p>
      </div>
  </div>
</section>
