<section class="mt-10 mb-5 sm:mt-20 sm:mb-10 mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 grid grid-cols-1 gap-2 lg:grid-cols-12">
  <h1
    class="col-span-full font-heading text-4xl lg:text-4xl-custom font-black text-black dark:text-white lg:col-span-4 lg:text-[clamp(2.25rem,5vw,3.5rem)] lg:self-end"
  >
    About <br class="hidden lg:block" />Ryan Shafer
  </h1>
</section>