---
const values = [
  {
    value: 'People-first Mindset',
    description: 'Good design starts with listening. I build teams, products, and strategies that are grounded in real human needs. From mentoring designers to launching client platforms that made complex data feel intuitive, I’ve always focused on outcomes that support both the user and the business—never one at the expense of the other.',
  },
  {
    value: 'Complexity into Clarity',
    description: 'I thrive in complex environments—where ambiguity, scale, and competing needs intersect. My role is to translate that complexity into systems, interfaces, and communication patterns that feel effortless to users. Whether aligning stakeholders or designing workflows, I apply structure, hierarchy, and UX principles to make the complicated actionable.',
  },
  {
    value: 'Shape Culture Beyond Product',
    description: 'Introducing new tools or practices is only half the battle—lasting change happens when they’re embraced. Whether advancing new technologies or evolving existing ones, I work to raise the design bar and build the cultural conditions where innovation can take root and thrive.',
  },
  {
    value: 'Driving Strategy by Design',
    description: 'Design isn’t just how something looks—it’s how decisions get made, how priorities align, and how ideas gain traction. I’ve worked with founders and executives to bridge vision and execution, using design thinking to drive clarity, momentum, and measurable impact.',
  },
];
---
<section class="mb-15 sm:mb-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-4 gap-y-6 gap-x-6 text-primary-950 dark:text-primary-200 lg:grid-cols-12 lg:gap-x-6">
      <h2 class="col-span-4 lg:col-start-2 lg:col-span-4 text-2xl-custom font-bold font-heading">
        My values
      </h2>
      {values.map((val) => (
        <div class="border-t border-black dark:border-white col-span-4 lg:col-start-6 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6">
          <p class="py-3 text-2xl font-heading font-bold col-span-4 md:col-span-2">
            {val.value}
          </p>
          <p class="py-3 col-span-4 md:col-start-3 md:col-span-2 lg:col-span-4">
            {val.description}
          </p>
        </div>
      ))}
    </div>
  </div>
</section>