---
import Heading from '../components/case-studies/Heading.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PostPreview from '../components/case-studies/PostPreview.astro';

const posts = (await getCollection('studies')).sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
---

<Layout
  description="Learn about Ryan Shafer's past design work"
  title="Cast Studies · Ryan Shafer · UX Design Leader"
>
  <Heading />
  <section class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="space-y-11 border-t border-black dark:border-white pt-11">
      {
      posts.map((post, index) => (
        <PostPreview
          post={post}
          layout={index === 0 ? 'featured' : 'horizontal'}
        />
      ))
      }
    </div>
  </section>
</Layout>
