---
import Button from '../layout/Button.astro';
---

<section class="mb-10 sm:mb-20  px-4">
  <div class="mx-auto max-w-7xl grid grid-cols-4 md:grid-cols-12 gap-y-6 md:gap-y-6 md:gap-x-6">
    <!-- Section Title -->
    <h2 class="text-4xl font-heading font-bold text-black dark:text-white col-span-4 md:col-span-4">
      Expertise
    </h2>

    <!-- Expertise Content -->
    <div class="col-span-4 md:col-span-8 flex flex-col gap-6">
      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-6 md:gap-y-6 md:gap-x-6 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          Product & UX Strategy
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          Starting with vague briefs and ending with clear product direction, I <a class="underline hover:underline-offset-2 transition-all duration-200" href="/case-studies/mtv-responsive-redesign">define strategy</a> through UX research, organizational alignment, and focused execution—turning ambiguity into actionable roadmaps.
        </p>
      </div>

      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-6 md:gap-y-6 md:gap-x-6 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          User Research & Insights
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          Clear strategy and team alignment emerge when sharp insights lead the way—insights I uncover through deep <a class="underline hover:underline-offset-2 transition-all duration-200" href="/case-studies/oritain-ux-research-strategy">generative research</a>, synthesized into frameworks, and communicated through storytelling to drive shared direction.
        </p>
      </div>

      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-6 md:gap-y-6 md:gap-x-6 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          Design & Concept
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          From hypothesis to prototype, I design scalable, accessible interfaces for <a class="underline hover:underline-offset-2 transition-all duration-200" href="/case-studies/ui-design-complex-workflows">complex workflows</a>—iterating through research, testing, and systems thinking to deliver clarity at scale.
        </p>
      </div>

      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-6 md:gap-y-6 md:gap-x-6 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          Culture Development
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          Shifting perception starts with the approach—I use <a class="underline hover:underline-offset-2 transition-all duration-200" href="/case-studies/mtv-ux-leadership">design rituals, storytelling, and strategic experiments</a> to move UX from the margins to the center of organizational decision-making.
        </p>
      </div>

      <!-- Button -->
      <div class="col-span-4 md:col-span-9 text-right pt-4">
        <Button href="/resume" cta="Explore My Career Journey →" />
      </div>
    </div>
  </div>
</section>
