---
import Button from '../layout/Button.astro';
---

<section class="mb-10 sm:mb-20  px-4">
  <div class="mx-auto max-w-7xl grid grid-cols-4 md:grid-cols-12 gap-y-6 md:gap-y-16 md:gap-x-12">
    <!-- Section Title -->
    <h2 class="text-4xl font-heading font-bold text-black dark:text-white col-span-4 md:col-span-4">
      Expertise
    </h2>

    <!-- Expertise Content -->
    <div class="col-span-4 md:col-span-8 flex flex-col gap-12">
      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-4 md:gap-y-6 md:gap-x-16 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          Product & UX Strategy
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          I help define product vision and align teams around user-driven goals and business impact.
        </p>
      </div>

      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-4 md:gap-y-6 md:gap-x-16 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          User Research & Insights
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          I uncover deep user needs through research and translate them into clear, actionable insights.
        </p>
      </div>

      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-4 md:gap-y-6 md:gap-x-16 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          Design & Concept
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          I turn ideas into validated, intuitive experiences through prototyping, testing, and iteration.
        </p>
      </div>

      <!-- Item -->
      <div class="border-t border-black dark:border-white pt-6 grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-4 md:gap-y-6 md:gap-x-16 items-start">
        <p class="font-heading text-5xl md:text-4xl-custom font-black text-black dark:text-white col-span-4 md:col-span-6">
          Culture Development
        </p>
        <p class="text-base text-black dark:text-white col-span-4 md:col-span-6">
          I foster design-driven cultures by mentoring teams, scaling practices, and partnering with leadership to embed UX into company strategy.
        </p>
      </div>

      <!-- Button -->
      <div class="col-span-4 md:col-span-9 text-right pt-4">
        <Button href="/contact" cta="Let’s Collaborate →" />
      </div>
    </div>
  </div>
</section>