---
import { getCollection } from 'astro:content';

const allStudies = await getCollection('studies');

// Choose your featured case studies by slug, in the exact order you want
const featuredSlugs = ['my-first-study', 'my-second-study', 'my-third-study'];

import type { CollectionEntry } from 'astro:content';

const featuredStudies: CollectionEntry<'studies'>[] = featuredSlugs
  .map((slug) => allStudies.find((study) => study.slug === slug))
  .filter((study): study is CollectionEntry<'studies'> => Boolean(study));

import PostPreview from '../case-studies/PostPreview.astro';
import Button from '../layout/Button.astro';
---

<section class="mb-10 sm:mb-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col">
      <!-- HERO TEXT -->

      <div
        class="mx-auto mb-5 mt-10 grid max-w-2xl grid-cols-1 gap-2 sm:mb-10 sm:mt-20 lg:max-w-7xl lg:grid-cols-12"
      >
        <h1
          class="col-span-full font-heading text-5xl lg:text-4xl-custom font-black text-black dark:text-white lg:col-span-5 lg:self-end lg:text-[clamp(2.25rem,5vw,3.5rem)]"
        >
          Hi, I'm Ryan.<br />I design for people.
        </h1>
        <p
          class="col-span-full mt-0 leading-tight text-black dark:text-white sm:text-base sm:leading-tight lg:col-span-6 lg:col-start-7 lg:mb-3 lg:mt-auto"
        >
          I help organizations align vision, streamline complexity, and design experiences people
          actually want to use.
        </p>
      </div>

      <!-- FEATURED CASE STUDIES -->
      <!-- Container for the entire 3-promo layout -->
      <div
        class="grid grid-cols-4 gap-x-6 gap-y-10 border-t border-black pt-10 lg:grid-cols-12">
        <h2 class="text-4xl font-heading font-bold text-black dark:text-white col-span-4 md:col-span-4">
Featured Work
</h2>
        <!-- Large promo -->
         <div class="col-span-4 sm:col-span-4 sm:col-start-5 lg:col-span-8 lg:col-start-5">
        <PostPreview post={featuredStudies[0]} />
          </div>

        <!-- Smaller promos below the large promo -->
        <div class="col-span-4 sm:col-span-4 sm:col-start-5 lg:col-span-4 lg:col-start-5">
          <PostPreview post={featuredStudies[1]} />
        </div>

        <div class="col-span-4 sm:col-span-4 sm:col-start-9 lg:col-span-4 lg:col-start-9">
          <PostPreview post={featuredStudies[2]} />
        </div>
      </div>

      <!-- SEE ALL BUTTON -->
      <div class="mt-11 flex w-full justify-end">
        <Button href="/case-studies" cta="Explore My Process →" />
      </div>
    </div>
  </div>
</section>
